/.github export-ignore
/.gitignore export-ignore
/.phpunit.xml.dist export-ignore
/.wp-env.json export-ignore
/composer.lock export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/tests export-ignore
